* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color:#333;
    padding:1rem;
    margin:2rem 0;
    background:#F69191;
}

.head{
    position:sticky;
    top:0; left:0; right:0;
    background:#fff;
    padding:3rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head .logo {   
content: url("images/logo.webp");
width: 80px;
height: 60px;
position: absolute;
left: 50px;
top: 10px;
}

.head .navbar a{
    font-size: 2rem;
    padding:0 1.5rem;
    color:rgb(0, 0, 0);
    position: relative;
    left: 70rem;   
}

.head .navbar a:hover{
    color:#F69191;
}

.home{
    display: flex;
    align-items: center;
    width: auto;
    background-size: cover;
    background-color: #F69191;
    padding: 3%;
    padding-bottom: 0;
    
}

.home  .img{
    flex: 40%;
    height: 450px;
    width: 400px;
    content: url(images/loli.png);
}

.home .desc{
    flex: 60%;
    font-size: large;
    font-weight: bold;
    border: 1px solid black;
    padding: 15%;
    padding-top: 0%;
}