* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; 
    border:none;
    text-decoration: none;
    text-transform: capitalize;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color:black;
    padding:1rem;
    margin:2rem 5%;
    background:#F69191;
}

.head{
    position:sticky;
    top:0; left:0; right:0;
    background:#fff;
    padding:3rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head .logo {   
content: url("images/logo.webp");
width: 80px;
height: 60px;
position: absolute;
left: 50px;
top: 10px;
}

.head .navbar a{
    font-size: 2rem;
    padding:0 1.5rem;
    color:rgb(0, 0, 0);
    position: relative;
    left: 60rem;   
}

.head .navbar a:hover{
    color:#F69191;
}

.home{
    display: flex;
    align-items: center;
    width: auto;
    min-height: 86vh;
    background-size: cover;
    background-color: #F69191;
    padding: 5%;
    padding-bottom: 0;
    
}

.home  .img{
    flex: 40%;
    height: 450px;
    width: 400px;
    content: url(images/loli.png);
}

.home .desc{
    flex: 60%;
    padding-bottom: 15%;
    padding-top: 0%;
    padding-right: 10%;
    line-height: 1.8;   
}

.home .desc h1{
    font-size: 40px;
}

.home .desc h3 {
    color: #870800;
    font-size: 24px;
    font-weight: normal;
}

.home .desc p {
    font-size: 14px;
    font-weight: normal;
}

.about_us{
    display: flex;
    align-items:flex-start;
    width: auto;
    min-height: 86vh;
    padding-top: 0%;
    margin: 0 5%;
    flex-direction: column;
}

.about_us .chose {
    float:inline-start;
}

.about_us .chose h1 {
    color: black;
    line-height: 1.8;
    font-size: 24px;
}

.about_us .chose h1 span{
    color: #870800;
    
}
.about_us .chose p {
    font-size: 14px;
    font-weight: normal;
    text-align: justify;
    line-height: 1.8;
}

.about_us .container{
    display: flex;
    align-items:flex-start;
    width: auto;
    width:100%;
    height: auto;
    padding-top: 3%;
    padding-bottom: 3%;
}

/*For images & h1 & p in container*/
.about_us .container  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    height: 70px;
}

.about_us .container h1 {
    color: black;
    size: 20px;
    text-align: center;
}

.about_us .container p {
    color: black;
    font-size: 14px;
    font-weight: normal;
    text-align:center;
    padding-top: 5%;
}

/*DELIVERY*/

.about_us .container .delivery{
    width: 25%;
    background-color: #F69191;
    color: black;
    margin-right: 6%;
    padding-top: 3%;
    padding-bottom: 3%;
    border: 2px solid black;
}

/*RETURN*/
.about_us .container .return{
    width: 25%;
    background-color: #F69191;
    color: black;
    margin-right: 6%;
    padding-top: 3%;
    padding-bottom: 3%;
    border: 2px solid black;
}

/*GIFT*/
.about_us .container .gift{
    width: 25%;
    background-color: #F69191;
    color: black;
    margin-right: 6%;
    padding-top: 3%;
    padding-bottom: 3%;
    border: 2px solid black;
}

/*PAYMENT*/
.about_us .container .payment{
    width: 25%;
    background-color: #F69191;
    color: black;
    padding-top: 3%;
    padding-bottom: 3%;
    border: 2px solid black;
}

/* PRODUCTS */

.product{
    display: flex;
    align-items:flex-start;
    width: auto;
    min-height: 86vh;
    padding-top: 0%;
    margin: 0 5%;
    flex-direction: column;
}
.product .product_container{
    display: flex;
    align-items:flex-start;
    width: auto;
    width:100%;
    height: auto;
    padding-top: 3%;
    padding-bottom: 3%;  
    border: 1px solid;   
}

/* PRODUCT 1 2 3 in one line */
.product .product_container .prod1{
    width: 25%;
    background-color: white;
    color: black;
    margin-right: 6%;
    padding-top: 3%;
    padding-bottom: 3%;
    border: 2px solid black;
    
}

.product .product_container .prod1 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;   
}

/* LAST PRODUCT (4) */
.product .product_container .prodX{
    width: 25%;
    background-color: white;
    color: black;
    padding-top: 3%;
    padding-bottom: 3%;
    border: 2px solid black;
}

.product .product_container .prodX img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;   
}


