* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color:#333;
    padding:1rem;
    margin:2rem 0;
    background:#F69191;
}

header{
    position: fixed;
    top:0; left:0; right:0;
    background:#fff;
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {/* Kim’s Candy Shop */    
content: url("images/logo.webp");
width: 150px;
height: 120px;
position: absolute;
left: 50px;
top: 10px;

}